doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        include _bootstrap.pug
        title Document
    body 
        h1 This is Pug 
        h2 Web page using Pug 
        include _nav.pug
        main 
            .container 
                button.btn.btn-primary(type='button' data-bs-toggle='modal' data-bs-target='#exampleModal')
                    | Launch demo modal

            include _modal.pug

